---
import Layout from "../layouts/Layout.astro";
import About from "@components/About.astro";
import Header from "@components/Header.astro";
import ListExperience from "@components/ListExperience.astro";
import ListProject from "@components/ListProject.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
---

<Layout title="Alex's portfolio" description="A minimalist portfolio from a Software Engineer.">
	<div class="mx-auto max-w-3xl sticky top-0 z-10">
		<Header />
	</div>
	<div class="mx-auto max-w-3xl px-5 mb-5 flex flex-col gap-10 font-mono">
		<main class="flex flex-col gap-16 dark:text-slate-100 text-gray-700">
			<Hero />
			<About />
			<ListExperience />
			<ListProject />
			<Skills />
		</main>
	</div>
</Layout>

<style></style>
