---
export interface Props {
    position: string;
    startDate: string;
    endDate: string | null;
    summary: string;
    name: string;
}
const {position, startDate, endDate, summary, name} = Astro.props;
---
<article>
    <span>{position} - {name}</span>
</article>