---
import { skills } from '@cv'
import ToastSkill from './ToastSkill.astro'
---
<section>

    <div class="flex justify-start items-center gap-2 mb-2">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
        </svg>           
    
        <h2 class="text-2xl">Skills</h2>
    </div>

    <div class="flex flex-wrap gap-2 mt-4">
        {
            skills.map(skill => {

                return(
                    <ToastSkill {skill} />
                )

            })
        }
    </div>
      
</section>